/*
* Обнуление
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: 400;
    background-color: rgb(241, 244, 247);

}
html,
body {
  height: 100%;
}
.purple{
    background-color: rgb(135, 117, 212);
}
.hidden{
    display: none;
}

.container{
    margin: 0 auto;
    max-width: 1130px;
    padding: 0 15px;
}

.active{
    color: white;
}
.wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.main{
    flex: 1 0 auto;
}

.footer{
    background-color: rgb(118, 102, 186);
    border-bottom: 1px solid rgba(29, 14, 97, 0.2);
    flex: 0 0 auto;
    
    
}
.footer__container{
    display: flex;
    height: 81px;
    align-items: center;
    justify-content: center;
}
.lock{
    overflow: hidden;
}

/*
* Header
*/
.header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgb(102, 83, 190);
    z-index: 5;
    border-top: 1px solid rgba(29, 14, 97, 0.2);
}
.header__container{
    font-size: 20px;
    display: flex;
    min-height: 81px;
    align-items: center;
    justify-content: space-between;
}
.nav{

    
}
.nav__list{
    font-size: 16px;
    display: flex;
    gap: 25px;
    color: rgb(192, 192, 192);
}
.nav__list-link{
    transition: all .3s;
}
.nav__list-link:hover{
    opacity: .7;
}

.nav__logo{
    z-index: 10;
}

























/*
* Quiz
*/

.quiz{
    height: 100%;
}
.quiz__container {
    max-width: 630px;
    margin: auto;
    padding: 0 15px;
    padding-top: 180px;
    margin-bottom: 100px;
}
.quiz__content {
    position: relative;
    padding: 25px;
    border-radius: 7px;
    
}
.quiz__title {
    font-size: 26px;
    text-align: center;
    margin-bottom: 35px;
    color: rgb(99, 94, 124);
   
}
.quiz__button {
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 18px;
    padding: 15px 25px;
    background-color: rgb(78, 78, 78);
    
    border-radius: 5px;
}
.quiz__btn, .quiz__button {
    transition: all .2s;
}
.quiz__btn:hover, .quiz__button:hover{
    opacity: .7;
}

.questions__item-question, .result__item-question{
    font-size: 32px;
    margin-bottom: 30px;
    text-align: center;
}
.questions{
    margin-bottom: 45px;
}
.questions__item-answers li, .result__item-answeers li{
    margin-bottom: 25px;
    font-size: 18px;
    line-height: 1.5;
    
}



.quiz__answer-input{
    position: absolute;
    z-index: -1;
    width: 0;
    height: 0;
    opacity: 0;
}
.quiz__answer-custom{
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid rgb(207, 206, 206);
    background-color: white;
    border-radius: 50%;
    vertical-align: text-top;
    margin-right: 5px;
    cursor: pointer;
}
.quiz__answer-custom::before{
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 10px;
    height: 10px;
    background-color: rgba(78, 78, 78, .5);
    border-radius: 50%;
    transition: all .2s;
}
.quiz__answer-input:checked + .quiz__answer-custom::before{
    display: block;
    transform: translate(-50%, -50%) scale(1);
}


.quiz__btn{
    width: 100%;
    color: white;
    cursor: pointer;
    font-size: 18px;
    padding: 15px 35px;
    background-color: rgba(69, 41, 192, 0.3);
    background-color: rgba(43, 21, 139, 0.1);
    background-color: rgb(135, 117, 212);
    border: 0;
    border-radius: 5px;
}

.quiz__btn-restart{
    margin-right: 10px;
}

.quiz__tests{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.quiz__controls{
    display: flex;
    justify-content: center;
}
.quiz__indicator{
    position: absolute;
    left: 0px;
    top: 0px;
    font-weight: 300;
    font-size: 24px;
}
.quiz__cross{
    position: absolute;
    cursor: pointer;
    right: 0px;
    top: 0px;
    font-size: 28px;
}
.answer--invalid{
    position: relative;
    
}
.answer--valid{
    
    position: relative;
}
.answer--invalid::before{
    position: absolute;
    content: "×";
    color: white;
    font-size: 18px;
    left: -3%;
    color: rgb(238, 98, 98);
    top: -3%;
}
.answer--valid::before{
    position: absolute;
    content: "✓";
    color: white;
    font-size: 18px;
    left: -3%;
    color: rgb(123, 244, 143);
    top: -3%;
}

.result__item{
    margin-bottom: 45px;
}
.result__item-answers li{
    margin-bottom: 15px;
}
.result__item-count{
    text-align: center;
    font-size: 24px;
    margin-bottom: 50px;
    font-style:oblique;
    text-decoration: underline;
    
}
.quiz__content{
    
}


@media(max-width: 600px){
    .questions__item-question, .result__item-question{
        max-width: 300px;
        margin-left: auto;
        margin-right: auto;
        font-size: 20px;
    }
    .questions__item{
        padding-top: 35px;
    }
    .quiz__container{
        padding-top: 150px;
    }
    .result__item-answers li{
        font-size: 14px;
    }
    .quiz__content{
        padding: 5px;
    }
    .result__item-answers li{
        padding-left: 2%;
    }
    .nav__list{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
    }
    .nav__list-item{
        padding: 10px 0;
        color: white;
        font-size: 22px;
    }
    .nav{
        
    }
    .nav::before {
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 80px;
        background-color: rgb(102, 83, 190);
        z-index: 2;
      }
    .nav{
        position: fixed;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        left: 100%;
        background-color: rgba(0, 0, 0, .9);
        background-color: rgba(31, 26, 53, 0.9);
        padding: 100px 30px 30px 30px;
        transition: all .3s;
    }
    .nav--active{
        left: 0;
    }
    .nav::before{
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 80px;
        z-index: 2;
    }
    .header__menu-burger{
        z-index: 5;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }
    .header__menu-burger::before,
    .header__menu-burger::after,
    .header__menu-burger span{
        position: absolute;
        left: 0;

        height: 10%;
        width: 100%;
        transition: all .3s;
        background-color: white;
    }
    .header__menu-burger::before,
    .header__menu-burger::after{
        content: "";
    }
    .header__menu-burger::before{
        top: 0px;
    }
    .header__menu-burger::after{
        bottom: 0px;
    }
    .header__menu-burger span{
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }

    .header__menu-burger--active span{
        transform: scale(0) translate(0px, -50%);
    }
    .header__menu-burger--active::before{
        top: 50%;
        transform: rotate(-45deg) translate(0px, -50%);
    }
    .header__menu-burger--active::after{
        bottom: 50%;
        transform: rotate(45deg) translate(0px, 50%);
    }
   
}
@media(max-width: 400px){
    .result__item-answers li{
        padding-left: 3%;
    }
}


